
.progress {
  background-color: rgba(0, 0, 0, 0.15) !important;
  vertical-align: bottom;
  display: none;
}

.progress-bar {
  width: 100%;
  height: 100%;
}

.loadbutton.success {
  border-color: green;
}

.loadbutton.failed {
  border-color: red;
}

.volume-slider {
  bottom: 0;
  height: 0.25em !important;
  position: absolute;
  width: 6.65em;
}

.status-icon {
  border-radius: 50%;
  color: white;
  vertical-align: middle !important;
  display: none;
}

.info-box {
  border-radius: 0.3rem;
  position: relative;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 0.05rem 0.3rem 0.1rem 0.3rem;
  text-decoration: unset;
  height: 1.5rem;
  font-weight: bold;
  vertical-align: middle !important;
}

.info-box .material-icons {
  margin-top: 0.05rem !important;
}

.info-box .material-icons:hover {
  cursor: pointer;
}

.info-box.neutral {
  background: #06b;
}

.info-box.success {
  background: green;
}

.info-box.failed {
  background: red;
}

.voms-server-list,
.voms-server-uri,
.voms-server-list-btn {
  background: inherit !important;
  padding-left: 0.2em !important;
}

.voms-server-list-edit,
.voms-server-list-delete {
  max-height: 2em;
}

.voms-server-list {
  display: flex;
}

.field-name-flex {
  margin-top: auto;
  margin-bottom: auto;
}

.field-info label {
  margin-bottom: unset;
}

/* Do not user .fade class. Instead add opacity to background-color property*/
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header h5 {
  width: 100%;
  text-align: center;
}

.mode-toggler-border {
  border-bottom: solid 1px black;
  padding: 0 2rem 0 2rem;
  margin-top: 2rem;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.cert-preview {
  padding: 1rem 1rem;
}

.cert-preview .row {
  padding: 0.5rem 0;
}

.cert-preview .row > div:first-child  {
  text-align-last: right;
}


.cert-preview span {
  font-weight: bold;
}

.serial-number {
  word-break: break-word;
}

#certPreviewModal .modal-header .modal-title {
  text-align: center;
  width:100%;
}

#certPreviewModal .modal-footer button {
  margin: 0px auto;
}

@media only screen and (max-width: 770px) {
  .cert-preview .row > div:first-child  {
    text-align-last: left;
  }
}